@model Ornithology.Web.Models.AveVM

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Desea eliminar este registro?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreComun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreComun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCientifico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCientifico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaisesDisponibles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaisesComoTexto)
        </dd>

    </dl>

    @using (Html.BeginForm("EliminarConfirmado", "Ave", new { codigo = Model.Codigo}, FormMethod.Post)) {
        @Html.AntiForgeryToken()
        

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar" class="btn btn-warning" />
        </div>
    }
    
    <br />
    <div>
        @Html.ActionLink("← Ver lista de aves", "Listar")
    </div>
    
</div>
